<h2>Welcome, {{name}}!</h2>

{{#if taxReports.length}}
    <p>
    {{#each taxReports as |taxReport|}}
        {{taxReport.id}} {{taxReport.year}} {{taxReport.income}}
    {{/each}}
    </p>
{{/if}}
<!-- account.js not ready yet -->
<!--<script src="./js/account.js"></script>-->
