<section class="resources">
    <h2>
        Tax resources
    </h2>
    <p>
        In Canada, income tax is administered by the Canada Revenue Agency
        (CRA). The Canadian income tax year is from January 1 to December 31. If
        you owe income tax, you must pay it by April 30 for the previous
        calendar year. Late submissions are accepted, but there may be a
        penalty. If you are employed in Canada, your employer must withhold and
        remit to the CRA statutory deductions from your wages.
    </p>

    <p>Canada’s personal income tax system is complicated and the nuances are
        often difficult to understand and interpret it is adviced to consult a
        tax professional. Staying educated is the best way to learn how to do
        your taxes like a professional. We have included some resources to help
        you on your jurney to understand the candian tax system</p>

        <h2>
            How is Income Tax Calculated in Canada?
        </h1>
        <p>
            Canadian federal income tax is calculated separately from provincial/territorial income tax.  However, both are calculated on the same tax return, except for Quebec.  When using tax software, the Quebec and federal returns can be calculated together.
        </p>
        <a href="https://www.canada.ca/en/financial-consumer-agency/services/financial-toolkit/taxes-quebec/taxes-quebec-2/5.html" target="_blank">9.2.4 Tax brackets and rates</a>
        
        <p>If you make $52,000 a year living in the region of Ontario, Canada, you will be taxed $14,043. That means that your net pay will be $37,957 per year, or $3,163 per month. Your average tax rate is 27.0% and your marginal tax rate is 35.3%. This marginal tax rate means that your immediate additional income will be taxed at this rate. For instance, an increase of $100 in your salary will be taxed $35.25, hence, your net pay will only increase by $64.75.
            Bonus Example
            A $1,000 bonus will generate an extra $648 of net incomes. A $5,000 bonus will generate an extra $3,238 of net incomes.</p>

    <h2>Get help at a free tax clinic</h2>
    <p>Do you need help with your tax return? If you have a modest income and a simple tax situation, volunteers at a free tax clinic may be able to complete your tax return for you.
<a href="https://www.canada.ca/en/revenue-agency/campaigns/free-tax-help.html" target="_blank">
Find out how to get your taxes done at a free tax clinic</p>

</a>

<h2>Income Tax Support Resources</h2>
<p>Canada Revenue Agency (CRA) requires that eligible residents file their taxes annually by April 30. Tax preparation can at times seem complicated and overwhelming; that is why the City of Toronto would like to support Torontonians by providing a list of resources, to help them. <a href="https://www.toronto.ca/community-people/employment-social-support/support-for-people-in-financial-need/income-tax-support-resources/" target="_blank">Find helpful tax information</a> </p>
</section>