<div class="container-fluid">
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <form class="new-taxReport-form card">
        <input type="hidden" value="{{id}}" />
        <div class="card-body">

          <h3 class="card-title">Tax Report</h3>
          <p class="card-text">Fill in your tax information</p>
          <div class="row mb-3">
            <label for="inputYear" class="col-sm-5 col-form-label">Enter year:</label>
            <div class="col-sm-7">
              <input
                type="number"
                class="form-control"
                id="inputYear"
                required
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputIncome" class="col-sm-5 col-form-label">Enter
              income:</label>
            <div class="col-sm-7">
              <input
                type="number"
                class="form-control"
                id="inputIncome"
                required
              />
            </div>
          </div>
          <button type="submit" class="btn btn-user full-width">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Year</th>
              <td id="yearSlot"></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Federal Income Tax</th>
              <td id="taxSlot"></td>
            </tr>
            <tr>
              <th>Provincial Income Tax</th>
              <td id="provTax"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="./js/taxInputs.js"></script>