<p>The tax inputs page!</p>

<div class="container mt-3">
    <form>
        <input type="text" class="form-control" placeholder="Enter year" name="year">
        <input type="text" class="form-control" placeholder="Enter income" name="income">
    </form>
</div>