@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --green: #abd699;
    --yellow: #ffe26a;
    --teal: #73c9b7;
    --lightblue: #c7dfcd;
    --navy: #15123f;
}

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body {
    background-image: linear-gradient(
        to bottom right,
        var(--green),
        var(--teal)
    );
}

.form {
    background: var(--lightblue);
    border-radius: 15px;
    color: var(--navy);
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    box-shadow: 0 0 10px #fff, 0 0 20px var(--yellow);
}

.btn-user {
    background: var(--yellow);
    color: var(--navy);
}

.btn-user:hover {
    color: white;
    background-color: var(--yellow);
    text-shadow: 0 0 5px #fff, 0 0 10px var(--yellow);
}

.navbar-brand:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px var(--yellow);
}

.navbar-brand:hover > i {
    animation: spin 3s linear infinite;
}

.slogan {
    margin-top: 7rem;
    font-size: 5rem;
    color: green;
}

.hero {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.hero p {
    margin-top: 3rem;
    font-size: 3rem;
}

.color {
    color: red;
}

.hero img {
    margin-left: 10rem;
    height: auto;
    width: 100%;
    /* even more control with max-width */
    max-width: 720px;
    min-width: 520px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    font-size: 1.5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 576px) {
    button.full-width {
        width: 100%;
    }
}

@media (max-width: 1330px) {
    .hero {
        flex-direction: column;
    }
    .hero img {
        margin-left: 0;
        margin-top: 3rem;
        max-width: 100%;
    }
}
